<div class="row">
    <div class="col colspace">
        <p *ngIf="tasklist.length==0" >{{defaultText}}</p>
        <h3>Today's tasks</h3>
        <hr class="fancy">
        <ul>
            <li *ngFor="let task of tasklist">{{task}}</li>
        </ul>
    </div>
    
    <div class="col">
        <button (click)="onCreateRequest()">Create Task</button>
        <br>
        <form #createTask = "ngForm" *ngIf="displayForm" autocomplete="off" (ngSubmit)="onCreateTask(createTask.value)">
            <br><label for="createTask">Enter a new task</label><br>
            <input type="text" name="createTask" id="createTask" ngModel><br><br>
            <button type="submit">Add task</button>
        </form>
    </div>
</div>


