.fancy{
    background-color: #F38181;
    height: 1.5px;
    border: none;
}

.colspace{
    margin-right: 20rem;
}

button {
    padding: 0.5rem;
    background-color: white;
    border: 3px solid #F38181;
    border-radius:10px;
}

button:hover{
    background-color: #F38181;
    color: white;
}

button:focus{
    background-color: #d87373;
    border-color: #d87373;
}

input{
    background-color: floralwhite;
}

li{
    background-color: floralwhite;
    margin: 3px;
}