<div class="jumbotron">
  <div class="container">
      <img src="assets/images/tasklist.png">
      <h1>{{ name }}'s To-Do</h1>
      <blockquote>"The secret of getting ahead is getting started" ~ Mark Twain</blockquote>
  </div>
</div>

<div class="container">
  <app-tasks></app-tasks>
</div>
